.father{
background-color: aqua;
margin: 5px solid black;
display: flex;
justify-content: center;

}
.son{
background-color: aqua;
border: 5px solid black;
padding: 40px;
position: relative;
z-index: 3;

}

.son2{
    border: 5px solid black;
    padding: 40px;
    position: relative;
    right: 40px;
    top: 50px;
    z-index: 2;

}

.son3{

    border: 5px solid black;
    padding: 40px;
    position: relative;
    right: 70px;
    z-index: 1;
}